<!--
    File      : app.xml
  Author    : cmartin
  Copyright : Martin Technical Consulting Limited Ltd (2018)
  Created   : 21-Jan-2018

  History
    23-11-201721-Jan-2018 cmartin The initial version.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <import resource="jasper-document-generator.xml" />
  <import resource="com/dovetail/document/generator/jasper/adaptor/jasper-docgen-handler.xml" />
</beans>
